<table class="table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>DisPrice</th>
      <th>Trademark</th>
      <th>Size</th>
      <th>Color</th>
      <th>Image</th>
      <th>ToTal</th>
      <th>Setup</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <th scope="row"><%= product.id %></th>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.disprice %></td>
      <td><%= product.trademark %></td>
      <td><%= product.size %></td>
      <td><%= product.color %></td>
      <td> <%= image_tag product.image.thumb %></td>
      <td><%= product.total %></td>
      <td><%= link_to 'edit', edit_admin_product_path(product.id), remote:true %></td>
      <td><%= link_to 'Delete',admin_product_path(product), remote: true, method: :delete, class: 'delete_product' %></td>
    </tr>
      <% end %>

  </tbody>
</table>
<%= link_to "New Product",  new_admin_product_path, class: 'btn btn-info', remote:true %>
