
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
  <div class="breadcrumbs">
      <div class="container">
          <ul class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Category Grid</li>
          </ul>
      </div>
  </div>

  <div class="main">

      <div class="container">
          <div class="row">
              <div class="col-sm-3 col-left">
                  <div class="block block-layered-nav">
                      <div class="block-title">
                          <strong><span>Sort By</span></strong>
                      </div>
                      <div class="block-content">
                          <p class="block-subtitle">Shopping Options</p>
                          <div id="narrow-by-list">
                              <div class="layered layered-Category">
                                  <h2>Category</h2>
                                  <div class="content-shopby">
                                      <ol>
                                      <% @categories.each do |category| %>
                                          <li><%= link_to category.name,gridpage_index_path(:category => category.name)  %></a></li>
                                      <% end %>
                                      </ol>
                                  </div>
                              </div>
                              <div class="layered layered-price">
                                  <h2>Price</h2>
                                  <div class="content-shopby">
                                      <div id="slider-range"></div>
                                      <div id="search_pr">
                                          <%= form_tag(gridpage_index_path, method: :get) do %>
                                              <%= text_field_tag "first_price", nil, width: 100 %>
                                              <%= text_field_tag "last_price"%>
                                              <%= submit_tag 'SHOW', class: 'btn btn-default', id: 'search_price' %>
                                          <% end %>
                                      </div>
                                  </div>
                              </div>
                              <div class="layered layered-Manufacturer">
                                  <h2>Manufacturer</h2>
                                  <div class="content-shopby">
                                      <ol>
                                          <li><a href="#">Aliquam</a></li>
                                          <li><a href="#">Duis tempus id </a></li>
                                          <li><a href="#">Leo quis molestie. </a></li>
                                          <li><a href="#">Suspendisse </a></li>
                                          <li><a href="#">Nunc gravida </a></li>
                                      </ol>
                                  </div>
                              </div>
                              <div class="layered layered-Color">
                                  <h2>Color</h2>
                                  <div class="content-shopby">
                                      <ol>
                                          <% @color_product.each do |color| %>
                                          <li><%= link_to color,gridpage_index_path(:color => color)  %></a></li>
                                          <% end %>
                                      </ol>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!-- /sort -->
                  <div class="block block-list">
                      <div class="block-title">
                          <strong><span>Compare</span></strong>
                      </div>
                      <div class="block-content">
                          <p class="empty">You have no items to compare.</p>
                      </div>
                  </div><!-- /.compare -->
                  <div class="banner-left"><a href="#"><img src="assets/ads-01.jpg" alt=""></a>
                      <div class="banner-content">
                          <h1>sale up to</h1>
                          <h2>20% off</h2>
                          <p>on selected products</p>
                          <a href="#">buy now</a>
                      </div>
                  </div>
                  <div class="block">
                      <div class="title-group"><h2>Special Offer</h2></div>
                      <div id="special-offer" class="owl-container">
                          <div class="owl">
                          <% @specialoffer.each do |t| %>
                              <div class='sepecialoffer-item item'>
                                  <div class="item-inner first">
                                      <div class="images-container">
                                          <a href="#" title="Primis in faucibus" class="product-image">
                                              <%= image_tag t.image.thumb.url %>
                                          </a>
                                      </div>
                                      <div class="des-container">
                                          <h2 class="product-name"><a href="#" title="Primis in faucibus"><%= t.name %></a></h2>
                                          <div class="price-box">
                                              <p class="special-price">
                                                  <span class="price">$<%= t.disprice %></span>
                                              </p>
                                              <p class="old-price">
                                                  <span class="price">$<%= t.price %></span>
                                              </p>
                                          </div>
                                          <div class="ratings">
                                              <div class="rating-box">
                                                  <div class="rating" style="width:87%"></div>
                                              </div>
                                              <span class="amount"><a href="#">1 Review(s)</a></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item-inner">
                                      <div class="images-container">
                                          <a href="#" title="Accumsan elit " class="product-image">
                                              <%= image_tag t.image.thumb.url %>
                                          </a>
                                      </div>
                                      <div class="des-container">
                                          <h2 class="product-name"><a href="#" title="Accumsan elit ">Accumsan elit </a></h2>
                                          <div class="price-box">
                                              <p class="special-price">
                                                  <span class="price">$<%= t.disprice %></span>
                                              </p>
                                              <p class="old-price">
                                                  <span class="price">$<%= t.price %></span>
                                              </p>
                                          </div>
                                          <div class="ratings">
                                              <div class="rating-box">
                                                  <div class="rating" style="width:67%"></div>
                                              </div>
                                              <span class="amount"><a href="#">1 Review(s)</a></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item-inner">
                                      <div class="images-container">
                                          <a href="#" title="Nunc facilisis" class="product-image">
                                              <%= image_tag t.image.thumb.url %>
                                          </a>
                                      </div>
                                      <div class="des-container">
                                          <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                                          <div class="price-box">
                                              <p class="special-price">
                                                  <span class="price">$<%= t.disprice %></span>
                                              </p>
                                              <p class="old-price">
                                                  <span class="price">$<%= t.price %></span>
                                              </p>
                                          </div>
                                          <div class="ratings">
                                              <div class="rating-box">
                                                  <div class="rating" style="width:67%"></div>
                                              </div>
                                              <span class="amount"><a href="#">1 Review(s)</a></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item-inner last">
                                      <div class="images-container">
                                          <a href="#" title="Fusce aliquam" class="product-image">
                                              <%= image_tag t.image.thumb.url %>
                                          </a>
                                      </div>
                                      <div class="des-container">
                                          <h2 class="product-name"><a href="#" title="Fusce aliquam">Fusce aliquam</a></h2>
                                          <div class="price-box">
                                              <p class="special-price">
                                                  <span class="price">$<%= t.disprice %></span>
                                              </p>
                                              <p class="old-price">
                                                  <span class="price">$<%= t.disprice %></span>
                                              </p>
                                          </div>
                                          <div class="ratings">
                                              <div class="rating-box">
                                                  <div class="rating" style="width:67%"></div>
                                              </div>
                                              <span class="amount"><a href="#">1 Review(s)</a></span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <% end %>
                          </div>
                      </div><!-- /.owl-container -->
                  </div><!-- /.block - Special offer -->
              </div><!-- /.col-left -->
              <div class="col-sm-9 col-right">
                  <div class="banner">
                      <a href="#">
                      <img alt="" src="assets/ads-17.jpg">
                      </a>
                  </div>
                  <div class="page-title">
                      <h1>CATEGORY GRID</h1>
                  </div>
                  <div class="toolbar">
                      <div class="sorter">
                          <p class="view-mode">
                              <label>View as:</label>
                              <strong class="grid" title="Grid">Grid</strong>&nbsp;
                              <a class="list" title="List" href="#">List</a>&nbsp;
                          </p>
                      </div><!-- /.sorter -->
                      <div class="pager">
                          <div class="sort-by hidden-xs">
                              <label>Sort By:</label>
                              <select class="form-control input-sm">
                                  <option selected="selected">Position</option>
                                  <option>Name</option>
                                  <option>Price</option>
                              </select>
                              <a title="Set Descending Direction" href="#"><span class="fa fa-sort-amount-desc"></span></a>
                          </div>
                          <div class="limiter hidden-xs">
                              <label>Show:</label>
                              <div class="limiter-inner">
                                  <select class="form-control input-sm">
                                     <a href="google.com.vn"><%= options_for_select([["Dollar", "$"], ["Kroner", "DKK"]]) %></a>
                                  </select> 
                                  
                              </div>
                          </div>
                      </div><!--- /.pager -->
                  </div><!-- /.toolbar -->
                  <div class="row products", id="sort_product_price">
                  <% @products.each do |t| %>
                      <div class="col-md-3 col-sm-6">
                          <div class='productslider-item item'>
                              <div class="item-inner">
                                  <div class="images-container">
                                      <div class="product_icon">
                                          <div class='new-icon'><span>new</span></div>
                                      </div>
                                      <a href="#" title="Nunc facilisis" class="product-image">
                                          <!-- <img src="images/products/6.jpg" alt="Nunc facilisis" /> -->
                                    <%= image_tag t.image.thumb.url %>
                                          
                                      </a>
                                      <div class="box-hover">
                                          <ul class="add-to-links">
                                              <li><a href="#" class="link-quickview">Quick View</a></li>
                                              <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                              <li><a href="#" class="link-compare">Add to Compare</a></li>
                                              <li><%= link_to("Add to Cart", oderitems_path(:product_id => t.id, :quantity => 1, :total_price =>t.price), method: :post, class: 'link-cart') %></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="des-container">
                                      <h2 class="product-name"><a href="#" title="Nunc facilisis"><%= t.name %></a></h2>
                                      <div class="price-box">
                                          <p class="special-price">
                                              <span class="price-label">Special Price</span>
                                              <span class="price">$<%= t.disprice %></span>
                                          </p>
                                          <p class="old-price">
                                              <span class="price-label">Regular Price: </span>
                                              <span class="price">$<%= t.price %></span>
                                          </p>
                                      </div>
                                      <div class="ratings">
                                          <div class="rating-box">
                                              <div class="rating" style="width:67%"></div>
                                          </div>
                                          <span class="amount"><a href="#">3 Review(s)</a></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <% end %>

                  </div><!-- /.product -->
                  <div class="toolbar">
                      <div class="sorter">
                          <p class="view-mode">
                              <label>View as:</label>
                              <strong class="grid" title="Grid">Grid</strong>&nbsp;
                              <a class="list" title="List" href="#">List</a>&nbsp;
                          </p>
                      </div><!-- /.sorter -->
                      <div class="pager">
                          <div class="sort-by hidden-xs">
                              <label>Sort By:</label>
                              <select class="form-control input-sm">
                                  <option selected="selected">Position</option>
                                  <option>Name</option>
                                  <option>Price</option>
                              </select>
                              <a title="Set Descending Direction" href="#"><span class="fa fa-sort-amount-desc"></span></a>
                          </div>
                          <div class="limiter hidden-xs">
                              <label>Show:</label>
                              <div class="limiter-inner">
                                  <select class="form-control input-sm">
                                      
                                  </select> 
                              </div>
                          </div>
                      </div><!-- /.pager -->
                  </div><!-- /.toolbar -->
              </div><!-- /.col-right -->
          </div>
      </div>
  </div><!-- /.main -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
